<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
         <!-- 配置关闭缓存,多机环境下怕不刷新缓存  -->
         <setting name="cacheEnabled" value="false"/>
		<!--  驼峰对应 -->
         <setting name="mapUnderscoreToCamelCase" value="true"/> 
		<!--生成主键 -->
         <setting name="useGeneratedKeys" value="true"/>
		<!--相当于JDBC重用一条sql -->
         <setting name="defaultExecutorType" value="REUSE"/>
         <!-- 事务超时时间 -->
         <setting name="defaultStatementTimeout" value="600"/>
    </settings>
    
    
    <typeAliases>
       <typeAlias type="com.mooc.house.common.model.User" alias="user" />
       <typeAlias type="com.mooc.house.common.model.House" alias="house" />
       <typeAlias type="com.mooc.house.common.model.Community" alias="community" />
       <typeAlias type="com.mooc.house.common.model.HouseUser"     alias="houseUser"/>
       <typeAlias type="com.mooc.house.common.model.City" alias="city" />
       <typeAlias type="com.mooc.house.common.model.Agency"  alias="agency"/>
    </typeAliases>
    
    <mappers>
       <mapper resource="mapper/user.xml" />
       <mapper resource="mapper/house.xml" />
       <mapper resource="mapper/agency.xml" />
    </mappers>

</configuration>